@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:wght@700&family=Rubik:wght@600&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    margin: auto;
}

hr{
    margin: 2rem 0rem;
}
/* links */
.primary-link{ 
   background-color: rgb(62, 26, 222);
   color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 3rem ;
    border-radius: 0.5rem;
}
.secondary-link{
    text-decoration: none;
    padding: 0.5rem 3rem ;
    color:rgb(62, 26, 222) ;
    border-radius: 0.5rem;
    border: 1px solid rgb(62, 26, 222)  ;
}
/* lists */
 .non-bullet{
    list-style: none;
    padding: 0rem 0.5rem;
 }
 .inline{
    display: inline;
 }